body {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#slide {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

#imgSlide {
  width: 70%;
  height: 450px;
}

header nav{
  height: 30px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  list-style-type: none;
}

header nav ul li a{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black; 

}
header nav ul li a:hover{
  font-size: 17px;

}

#main{
  padding-top: 100px;
}

#main .titulo{
  padding-bottom: 50px;
  text-align: center;
}

section{
  height: 75vh;
}

#main #Produtos ul{
  display: flex;
}

#main #Produtos ul div{
  width: 500px;
  height: 250px;
  gap: 2rem;
}

#main #Produtos ul div{
  padding-right: 100px;
  text-align: center;
}

#main #Produtos ul img{
  width: 300px;
  height: 350px;
}

footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-top: 100px;
  bottom: 0;
}