*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(228, 228, 228);
}

header{
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    isolation: isolate;
    top: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

header nav{
    height: 13vh;
    background-image:linear-gradient(90deg, rgba(216, 216, 216, 0.685), rgba(255, 255, 255, 0.9));
    width: 100%;
    display: flex;
    align-items: center;
}

header nav a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

header nav ul{
  flex-grow: 1;
  display: flex;
  gap: 50px;
}

header nav ul li{
  list-style-type: none;
}

header nav ul li a{
  text-decoration: none;
  color: black; 


}
header nav ul li a:hover{
  font-size: 17px;

}

header nav ul li:nth-of-type(1) {
  margin-left: auto;
}

header nav ul li:nth-of-type(3) {
  margin-left: auto;
  padding-right: 40px;
}

main{
    margin-top: 5rem;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10rem;
}

main h1{
    font-size: 75px;
    padding-bottom: 7rem;
}

main section{
    margin-top: 20vh;
    margin: 0 5vw;
}

main section .div-img{
    gap: 2rem;
    display: flex;
}

main section div div{
    list-style: none;
    text-align: center;
    padding-right: 10px;
    border-radius: 50px;
    background-color: rgb(252, 252, 252);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

main section h2{
    font-size: 50px;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

main section div p{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    font-size: 17px;
}

main section div #img1{
    max-width: 30vw;    
    border-radius: 5%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}
main section div #img2{
    max-width: 35vw;
    border-radius: 5%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}
